form-container {
    margin: 20px;
    padding: 15px;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3) 0 7px 21px 0 gba(0, 0, 0, 0.20);
  }
  .input-cnt {
    display: flex;
    margin-bottom: 15px;
  }
  
  .input-cnt > i{
    min-width: 40px;
    padding: 10px;
    text-align: center;
    background: grey;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50%
  }
  .textarea-icon {
    padding: 10px;
    width: auto;
    height: 300px;
    color: white;
    background-color: #0076ff;
  }
  .input-cnt > input[type="submit"]{
    border: none;
    border-radius: 20px;
    outline: none;
    width: 75%;
    margin: 0 auto;
    font-size: 105%;
    padding: 8px;
    color: #0076ff;
    background: white;
    transition-duration: .5s;
  }
  .input-cnt > input[type="submit"]:hover {
    color: grey;
    background: #0076ff;
  }
  button {
    font-family: sans-serif;
  }
  #button {
    background-color: red;
    color: rgb(177, 152, 152);
    border-radius: 25px;
    width: 100px;
  }
  textarea {
    width: 300px;
    padding: 10px;
    background-color: white;
    outline: none;
  }
  textarea::placeholder {
    width: auto;
    height: 100vh;
  }